<h1>#iubb</h1>

<% @tweets.each do |tweet| %>
  <div class="tweet">
    <div class="tweet-icon" style="background-image:url('<%= tweet["user"]["profile_image_url"] %>')"></div>
    <div class="tweet-contents">
      <h5 class="username"><%= tweet["user"]["screen_name"] %></h5>
      <h5 class="time"><%= time_ago_in_words(tweet["created_at"].to_datetime).gsub('about','') + ' ago' %></h5>
      <p><%= tweet["text"] %></p>
    </div> 
    <hr>
  </div>
<% end %>
<%= @tweets[0] %>