<div class="header-container">
  <h1><%= @screen_name %></h1>
  <h4><small><%= @tweets[1]["user"]["name"] %></small></h4>
  <p><%= @tweets[1]["user"]["description"] %></p>
  <p><%= @tweets[1]["user"]["location"] %></p>
</div>
<ul class="tweets">
  <% @tweets.each do |tweet| %>
    <li class="tweet">
      <div class="tweet-container">
        <div class="tweet-icon" style="background-image:url('<%= tweet["user"]["profile_image_url"] %>')"></div>
        <div class="tweet-contents">
          <h5 class="username"><a href="#"><%= tweet["user"]["screen_name"] %></a></h5>
          <h5 class="time"><%= time_ago_in_words(tweet["created_at"].to_datetime).gsub('about','') + ' ago' %></h5>
          <p><%= insert_links(tweet["text"]).html_safe %></p>
        </div>
      </div>
    </li>
  <% end %>
</ul>